/* HORIZONTAL */
.accordion,  .accrdn {
	display: flex;
}
.accordion {
	width: 75vw;
	font-size: 3vw;
	.accrdn {
		background: white;
	}
	.title {
		border: 1px solid black;
		border-right: none;
		text-align: center;
		padding: .5em;
	}
	.text {
		display: none;
	}
	.accrdn.active {
		background: black;
		color: white;
		.text {
			display: block;
			color: black;
			background-color: gray;
			border-left: 1px dashed white;
			font-size: .4em;
			padding: .5em;
		}
	}
	div:last-of-type .title {
		border-right: 1px solid black;
	}
}

/* VERTICAL */
.accordion.vertical {
	flex-direction: column;
	width: 70px;
	.title {
		border: 1px solid black;
		border-bottom: none;
		text-align: center;
		padding: .5em;
		width: 2.8em;
		text-align: center;
		.accrdn.active {
			background: black;
			color: white;
			width: 5em;
		}
	}
	div:last-of-type .title {
		border-bottom: 1px solid black;
	}
}
